html {
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    background-color: black;
    color: white;
}

.photo {
    max-width: 100vw;
    position: relative;
    cursor: url('./Images/icons8-pokeball-96.png') 50 50, auto;
    /* cursor: crosshair; */
}

.clickSquare {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border: 2px solid white;
}

.pokeList {
    position: absolute;
    z-index: 1;
    width: 70px;
    margin-top: -25px;
    margin-left: 28px;
    background-color: white;
}

.pokeList > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokeList > ul > button {
    width: 70px;
}

